.cnpjoto {
    border: 3px solid rgb(255, 0, 0);
    width: ;
    height: ;
    margin: ;
    padding: ;
}
}

.caga_tronco {
    border: 3px solid rgb(156, 7, 255);
    width: ;
    height: ;
    margin: ;
    padding: ;
}
}

.patricio_poeto {
    border: 3px solid rgb(3, 87, 243);
    width: ;
    height: ;
    margin: ;
    padding: ;
}
}

.shakiro {
    border: 3px solid rgb(3, 243, 23);
    width: ;
    height: ;
    margin: ;
    padding: ;
}